.copy-notifier {
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2000;
  min-width: 33%;
  min-height: 33%;
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  background-color: #17a2b8;
  box-shadow: 2px 2px 2px #000;
  animation: 1.5s ease-in-out 1 forwards fadeout;
  visibility: collapse;
  opacity: 0;
}

@keyframes fadeout {
  0% {
    visibility: visible;
  }
  25% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    visibility: collapse;
  }
}