@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './tooltip.scss';

%shadow {
  box-shadow: 2px 2px 2px #000;
}
%transition {
  transition: all 0.2s ease;
}

#editor {
  width: 100%;
  resize: none;
}
#editor, #preview {
  overflow: auto;
  height: 86vh;
  @extend %shadow, %transition;
}

.content {
  flex: 1 1 0;
  &.minimized {
    flex: 0 1 auto;

    .title {
      margin-left: 5px;
      margin-right: 5px;
    }

    .window-bar {
      flex-direction: column;
    }

    #editor, #preview {
      display: none;
    }
  }
  @extend %transition;
}

.window-bar {
  .title {
    font-size: 1.75em;
    font-weight: 700;
  }
  .clickable {
    border: 1px solid transparent;
    &:hover {
      border: 1px solid rgba($color: #000000, $alpha: 0.3);
      @extend %shadow, %transition;
    }
  }
  @extend %shadow;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 0.5em;
}

@media only screen and (max-width: 1100px) {
  #editor, #preview {
    height: 1vh;
  }

  #root {
    flex-direction: column;
  }
  .content {
    &.minimized {
      .window-bar {
        flex-direction: row;
      }
      .title {
        margin-left: unset;
        margin-right: unset;
      }
    }
    &.maximized {
      #editor, #preview {
        height: 80vh;
      }
    }
    &.split {
      #editor, #preview {
        height: 40vh;
      }
    }
  }
}